@import url("./root.css");

/* ------------------------------------------------------  Bootstrap Classes ------------------------------------------------- */

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

/* ------------------------------------------------------  Width Classes ------------------------------------------------- */

.max-w-388 {
  max-width: 388px;
}

.max-w-422 {
  max-width: 422px;
}

.max-w-502 {
  max-width: 502px;
}

.max-w-524 {
  max-width: 524px;
}

/* ------------------------------------------------------  Z-indexs ----------------------------------------------------- */

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

::-webkit-scrollbar {
  display: none;
}

.txt-decoration {
  text-decoration: line-through var(--txt-decoration) !important;
}

/* ------------------------------------------------------  Padding Classes ----------------------------------------------------- */

.pt-two {
  padding-top: 2px;
}

.pl-10 {
  padding-left: 10px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.py-14 {
  padding-top: 14px;
  padding-bottom: 14px;
}

.pb-14 {
  padding-bottom: 14px;
}

.pt-22 {
  padding-top: 22px;
}

.px-22 {
  padding-left: 22px;
  padding-right: 22px;
}

.pt-26 {
  padding-top: 26px;
}

.pt-32 {
  padding-top: 32px;
}

.pb-34 {
  padding-bottom: 34px;
}

.pt-44 {
  padding-top: 44px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-200 {
  padding-top: 200px;
}

/* ------------------------------------------------------  Margin Classes ------------------------------------------------------ */

.mt-10 {
  margin-top: 10px;
}

.mt-14 {
  margin-top: 14px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-34 {
  margin-top: 34px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-44 {
  margin-top: 44px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-80 {
  margin-top: 80px;
}

/* ------------------------------------------------------  Flex Classes -------------------------------------------------------- */

.gap-6 {
  gap: 6px;
}

.gap-10 {
  gap: 10px;
}

.gap-12 {
  gap: 12px;
}

.gap-14 {
  gap: 14px;
}

.gap-18 {
  gap: 18px;
}

/* ------------------------------------------------------ Preloader -------------------------------------------------------- */
.preloader {
  background: var(--slider-p);
  z-index: 100;
  height: 105%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.preloader-txt {
  background: var(--nav-shadow);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-right: 2px solid var(--nav-shadow);
  white-space: nowrap;
  padding-right: 10px !important;
  overflow: hidden;
  width: 0;
  animation: typing 4s steps(19) forwards,
    cursor 0.4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.ip {
  width: 16em;
  height: 8em;
}
.ip__track {
  stroke: hsl(var(--hue), 90%, 90%);
  transition: stroke var(--trans-dur);
}
.ip__worm1,
.ip__worm2 {
  animation: worm1 2s linear infinite;
}
.ip__worm2 {
  animation-name: worm2;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 90%, 5%);
    --fg: hsl(var(--hue), 90%, 95%);
  }
  .ip__track {
    stroke: hsl(var(--hue), 90%, 15%);
  }
}

/* Animation */
@keyframes worm1 {
  from {
    stroke-dashoffset: 0;
  }
  50% {
    animation-timing-function: steps(1);
    stroke-dashoffset: -358;
  }
  50.01% {
    animation-timing-function: linear;
    stroke-dashoffset: 358;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes worm2 {
  from {
    stroke-dashoffset: 358;
  }
  50% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -358;
  }
}

/* ------------------------------------------------------  Header -------------------------------------------------------------- */

.header {
  background-image: url("../images/png/Hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo a:hover {
  background: var(--slider-p);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.common-btn {
  height: 48px;
  outline: none;
  color: var(--btn-color);
  border-radius: 4px;
  font-size: var(--fs-md);
  font-weight: var(--fw-700);
  line-height: var(--lh-150);
  font-family: var(--ff-sans);
  border: 1px solid var(--white-color);
  background: var(--btn-bg);
  transition: all 0.2s;
}

.common-btn:hover {
  color: var(--white-color);
  background: transparent;
  transform: translateY(-2px);
  box-shadow: 0 8px 15px var(--btn-h);
}

.sign-btn {
  width: 108px;
}

.nav {
  box-shadow: 0px -18px 39px var(--nav-shadow) inset;
  background-color: var(--nav-bg);
}

.nav::after {
  content: "";
  position: absolute;
  inset: 0;
  padding-bottom: 3px;
  background: var(--nav-after);
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.hero-h {
  max-width: 958px;
}

.hero-h span {
  background: var(--hero-h);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-p {
  max-width: 665px;
}

.live-img {
  max-width: 628px;
}

.live-position {
  max-width: 103px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.live-img::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background: var(--nav-after);
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.common-timer {
  width: 128px;
  height: 128px;
  border-radius: 8px;
  backdrop-filter: blur(39px);
  background: var(--common-timer);
}

.time-card {
  background: var(--time-card);
  backdrop-filter: blur(15px);
  padding: 12px;
}

.time-card::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: var(--nav-after);
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.common-input {
  outline: none;
  border: none;
  border-radius: 4px;
}

.header-bottom-layer {
  bottom: 0;
  left: 0;
}

.iti__flag-container {
  width: 100% !important;
  width: 72px;
  background: var(--iti-flag);
}

.iti {
  width: 100%;
}

.iti__selected-flag {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 73px;
  justify-content: center;
  background: var(--iti-flag);
}

#phone {
  padding-left: 85px !important;
}

.live-p {
  width: 101%;
}

/* ------------------------------------------------------  SLIDER ------------------------------------------------------------- */

.common-slider {
  padding: 20px;
  border-radius: 8px;
  background: var(--common-slider);
}

.slider-p span {
  background: var(--slider-p);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slick-slide {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

/* ------------------------------------------------------  TRADE --------------------------------------------------------------- */

.sec2-h span {
  background: var(--sec2-h);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.company-box {
  max-width: 519px;
  margin-top: 22px;
}

.account-btn {
  max-width: 201px;
}

.company-item {
  position: relative;
  padding: 16px;
  background: var(--company-bg);
  border-radius: 6px;
  border: 1px solid var(--company-br);
}

.slider2 .slick-current div .company-item {
  font-weight: var(--fw-700);
  color: var(--white-color);
}

.slider2 .slick-current div .company-item::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: var(--slider2);
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.timeline-img-1 {
  position: relative;
  top: 50px;
}

/* ------------------------------------------------------  UNDERSTANDING -------------------------------------------------------- */

.section3 {
  padding-top: 150px;
}

.sec3-h span {
  background: var(--sec3-h);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sec3-h,
.sec3-p {
  max-width: 942px;
}

.sec3-blue-card {
  padding: 25px 50px 157px 25px;
  border-radius: 15px;
  background: var(--sec3-blue);
}

.sec3-white-card {
  padding: 20px;
  max-width: 471px;
  border-radius: 15px;
  background-color: var(--white-color);
  border: 1px solid var(--sec3-br);
  bottom: 81px;
}

.white-card-h {
  background: var(--white-card);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.forty-dollr-box {
  border-radius: 10px;
  box-shadow: 0px 0px 11.1px 0px var(--sec3-br);
}

.profit-btn {
  width: 217px;
}

/* ------------------------------------------------------  TOP STOCK -------------------------------------------------------- */

.top7-space {
  padding-top: 80px;
}

.section4 {
  padding-top: 180px;
}

.ai-stock {
  background: var(--ai-stock);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top1::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: var(--top1);
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.top1 {
  width: 40%;
}

.top2 {
  width: 40%;
}

.top2::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: var(--top2);
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.stock-h span {
  background: var(--slider-p);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.read-btn {
  width: 135px;
}

/* ------------------------------------------------------  TIMELINE -------------------------------------------------------- */

.section5 {
  padding-top: 150px;
}

.timeline-box {
  max-width: 891px;
}

.timeline {
  max-width: 716px;
  margin-top: 80px;
}

.timeline-h span {
  background: var(--slider-p);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.timeline-p {
  margin-top: 33px;
}

.content-box1 {
  max-width: 506px;
  padding: 35px;
  padding-left: 98px;
}

.content-box2 {
  max-width: 540px;
  margin-top: 57px;
}

.content-box3 {
  max-width: 506px;
  margin-top: 136px;
  margin-left: 60px;
}

.open-btn {
  max-width: 203px;
}

.timeline-position {
  top: 0;
  left: 50%;
  max-width: 556px;
  width: 100%;
  transform: translateX(-50%);
}

/* ------------------------------------------------------  STATICS -------------------------------------------------------- */

.section6 {
  padding-top: 150px;
}

.sec6-h span {
  background: var(--slider-p);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.static-card {
  width: 270px;
}

.static-round {
  width: 270px;
  height: 270px;
  border-radius: 50%;
}

.static-round::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 8px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--slider-p);
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

/* ------------------------------------------------------  INVESTMENT -------------------------------------------------------- */

.section7 {
  padding-top: 150px;
}

.investment-h span {
  background: var(--slider-p);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.register-btn {
  max-width: 155px;
}

.invesment-image {
  width: 100%;
}

.invest-1 {
  max-width: 876px;
}

.invesment-image {
  position: absolute;
  top: 4.3%;
  width: 100%;
  max-width: 834px;
  right: 53%;
}

/* ------------------------------------------------------  ACCORDIAN ---------------------------------------------------- */

.section8 {
  padding-top: 150px;
}

.accordian {
  max-width: 716px;
}

.accordian-p {
  max-width: 603px;
}

.accordian-h {
  max-width: 630px;
}

.accordian-box::after {
  content: "";
  position: absolute;
  inset: 0;
  padding-bottom: 1px;
  width: 100%;
  height: 100%;
  background: var(--slider-p);
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.accordian-svg {
  transform: rotate(180deg);
}

.accordian-svg1 {
  transform: rotate(0deg);
}

/* ------------------------------------------------------  BENIFIT ------------------------------------------------------ */

.section9 {
  padding-top: 200px;
}

.sec9-h {
  max-width: 733px;
}

.sec9-h span {
  background: var(--sec9-h);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.benifit-content {
  max-width: 1040px;
}

.benifit-box1 {
  max-width: 461px;
}

.techno-card {
  border-radius: 12px;
  padding: 45px 12px;
  height: 240px;
}

.common-techno-svg {
  background: var(--company-bg);
  height: 64px;
  width: 64px;
  border-radius: 4px;
}

.benifit-p {
  max-width: 974px;
}

.benifit-p span {
  color: var(--benifit);
}

/* ------------------------------------------------------  FIRST STEP --------------------------------------------------- */

.section10 {
  padding-top: 200px;
}

.first-h span {
  background: var(--sec9-h);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.first-h,
.first-p {
  max-width: 572px;
}

.first-p {
  margin-top: 28px;
}

.sign-card {
  max-width: 558px;
  background: var(--sign);
  border-radius: 8px;
}

.sign-card::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: var(--slider-p);
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.common-input-typ {
  border: 1px solid var(--common-inp);
  padding: 16px;
  outline: none;
  background-color: transparent;
}

.trading-btn {
  max-width: 510px;
}

.sec10-img {
  max-width: 518px;
}

/* ------------------------------------------------------ FOOTER -------------------------------------------------------- */

.footer-p {
  max-width: 261px;
}

.dis-p {
  max-width: 1119px;
  margin-bottom: 54px;
}

.sub-footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.sub-footer::after {
  content: "";
  position: absolute;
  inset: 0;
  padding-top: 1px;
  width: 100%;
  height: 100%;
  background: var(--sub-f);
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

/* ------------------------------------------------------ ELLIPS -------------------------------------------------------- */

.header1-left {
  top: 0;
  left: 0;
}

.header2-left {
  top: 333px;
  left: 0;
}

.header3-left {
  left: -355px;
  bottom: -179px;
}

.trade1-left {
  top: -112px;
  left: 0;
}

.footer-left1 {
  bottom: -26%;
  left: -27%;
}

.step-left {
  top: 0;
  left: 0;
}

.benifit-left {
  top: -18%;
  left: 0;
}

.invest-left {
  bottom: 0;
  left: 0;
}

.timeline-left {
  left: 0;
  top: 40%;
}

.top7-left1 {
  left: 0;
  top: -65px;
}

.top7-left2 {
  left: -46px;
  top: 20%;
}

.top7-left3 {
  left: -63px;
  top: 44%;
}

.top7-left4 {
  left: -21px;
  top: 63%;
}

.top7-left5 {
  bottom: -9%;
  left: -33px;
}

.header1-right {
  right: 0;
  top: 0;
}

.header2-right {
  right: 0;
  bottom: 125px;
}

.trade-right1 {
  right: 0;
  top: -48px;
}

.trade-right2 {
  right: 0;
  top: 19%;
}

.top7-right1 {
  right: 0;
  top: 22px;
}

.top7-right2 {
  right: 0px;
  top: 25%;
}

.top7-right3 {
  right: 0px;
  top: 48%;
}

.top7-right4 {
  right: 0;
  top: 69%;
}

.top7-right5 {
  bottom: -13%;
  right: 0;
}

.timeline-right {
  right: 0;
  top: 44%;
}

.invest-right {
  right: 0;
  top: -62px;
}

.benifit-right {
  right: 0;
  top: 16%;
}

.step-right {
  right: 0;
  top: 15%;
}

.footer-right {
  bottom: -42%;
  right: -29%;
}

@media (min-width: 576px) {
  .px-sm-12 {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  .pl-0 {
    padding-left: 0 !important;
  }

  .pr-0 {
    padding-right: 0 !important;
  }

  .gap-sm-20 {
    gap: 20px !important;
  }

  .time-card {
    padding: 20px;
  }

  .company-item {
    padding-left: 16px;
  }

  .mt-sm-60 {
    margin-top: 60px;
  }

  .pb-sm-60 {
    padding-bottom: 60px;
  }

  .pt-sm-100 {
    padding-top: 100px;
  }

  .pb-sm-107 {
    padding-bottom: 107px;
  }

  .first-p {
    padding-bottom: 30px;
    margin-top: 18px;
  }
}

@media (min-width: 768px) {
  .common-slider {
    padding-right: 72px;
  }

  .content-box3 {
    margin-left: 170px;
  }

  .techno-card:hover::after {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: var(--slider-p);
    -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
      linear-gradient(var(--white-color) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }

  .techno-card:hover {
    background: var(--company-bg);
    cursor: pointer;
  }
}

@media (min-width: 992px) {
  .max-w-lg-654 {
    max-width: 654px;
  }

  .max-w-lg-617 {
    max-width: 617px;
  }

  .time-card {
    max-width: 388px;
  }

  .pl-lg-0 {
    padding-left: 0 !important;
  }

  .pr-lg-0 {
    padding-right: 0 !important;
  }

  .pt-lg-114 {
    padding-top: 114px;
  }

  .max-w-lg-557 {
    max-width: 557px;
  }

  .w-lg-auto {
    width: auto !important;
  }

  .mt-lg-44 {
    margin-top: 44px !important;
  }

  .mt-lg-60 {
    margin-top: 60px;
  }

  .benifit-box2 {
    max-width: 500px;
  }

  .pb-lg-105 {
    padding-bottom: 105px !important;
  }

  .pb-lg-100 {
    padding-bottom: 100px;
  }

  .section1 {
    padding-bottom: 200px;
  }

  .pt-lg-150 {
    padding-top: 150px;
  }

  .first-p {
    padding-bottom: 60px;
    margin-top: 28px;
  }
}

@media (min-width: 1200px) {
  .investment-box {
    max-width: 558px;
  }
}

@media (min-width: 1400px) {
  .invesment-image {
    position: absolute;
    top: 3%;
    width: 100%;
    max-width: 863px;
    right: 54%;
  }
}

@media (min-width: 1920px) {
  .invesment-image {
    position: absolute;
    top: -2%;
    width: 100%;
    max-width: 1181px;
    right: 55%;
    height: 110%;
  }
}

@media (max-width: 991.1px) {
  .sec3-white-card {
    bottom: 0;
    border-radius: 0;
  }

  .sec3-blue-card {
    border-radius: 0;
    padding: 25px;
  }

  .company-box {
    max-width: 751px !important;
  }

  .section3,
  .section4,
  .section5,
  .section6,
  .section7,
  .section8,
  .section9,
  .section10,
  .footer {
    padding-top: 110px;
  }

  .section1 {
    padding-bottom: 110px;
  }

  .benifit-content {
    margin-top: 44px;
  }

  .top7-space {
    padding-top: 44px;
  }
}

@media (max-width: 767.1px) {
  .slider-content {
    flex-direction: column !important;
  }

  .slider-p {
    text-align: center !important;
  }

  .slider-h {
    text-align: center !important;
  }

  .techno-card {
    background: var(--company-bg);
    cursor: pointer;
  }

  .techno-card::after {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: var(--slider-p);
    -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
      linear-gradient(var(--white-color) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}

@media (max-width: 575.1px) {
  .sign-btn {
    width: 100px;
    height: 42px;
  }

  .common-timer {
    height: 84px;
  }

  .trade1-left {
    width: 100%;
  }

  .sec3-blue-card {
    padding: 12px;
  }

  .content-box3 {
    margin-top: 32px;
    margin-left: 0;
    max-width: unset;
  }

  .content-box1 {
    max-width: unset;
    padding: 0px 12px;
  }

  .content-box2 {
    margin-top: 32px;
    max-width: unset;
    padding: 0px 12px;
  }

  .timeline {
    margin-top: 0;
  }

  .section1,
  .section3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .section2 {
    padding-top: 85px;
    padding-bottom: 85px;
  }

  .section4 {
    padding-top: 74px;
  }

  .section5,
  .section6,
  .section7,
  .section8,
  .section9,
  .section10 {
    padding-top: 88px;
  }

  .timeline-p {
    margin-top: 16px;
  }

  .timeline {
    margin-top: 0px;
  }

  .benifit-content {
    margin-top: 40px;
  }

  .content-box1,
  .content-box2,
  .content-box3 {
    margin-top: 20px;
  }

  .accordian {
    margin-top: 8px;
  }

  .footer {
    padding-top: 100px;
  }

  .dis-p {
    margin-bottom: 16px;
  }

  .first-p {
    margin-top: 16px;
  }
}
