@import url("./root.css");

/* ------------------------------------------------------  Bootstrap Classes ------------------------------------------------- */

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

/* ------------------------------------------------------  Width Classes ------------------------------------------------- */

.max-w-422 {
  max-width: 422px;
}

.max-w-502 {
  max-width: 502px;
}

.max-w-524 {
  max-width: 524px;
}

.max-w-557 {
  max-width: 557px;
}

.max-w-617 {
  max-width: 617px;
}

.max-w-654 {
  max-width: 654px;
}

/* ------------------------------------------------------  Z-indexs ----------------------------------------------------- */

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

::-webkit-scrollbar {
  display: none;
}

/* ------------------------------------------------------  Padding Classes ----------------------------------------------------- */

.pt-two {
  padding-top: 2px;
}

.py-14 {
  padding-top: 14px;
  padding-bottom: 14px;
}

.pb-14 {
  padding-bottom: 14px;
}

.pt-22 {
  padding-top: 22px;
}

.px-22 {
  padding-left: 22px;
  padding-right: 22px;
}

.pt-44 {
  padding-top: 44px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-107 {
  padding-bottom: 107px;
}

.pt-114 {
  padding-top: 114px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-200 {
  padding-top: 200px;
}

.py-200 {
  padding-top: 200px;
  padding-bottom: 200px;
}

/* ------------------------------------------------------  Margin Classes ------------------------------------------------------ */

.mt-10 {
  margin-top: 10px;
}

.mt-14 {
  margin-top: 14px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-44 {
  margin-top: 44px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-80 {
  margin-top: 80px;
}

/* ------------------------------------------------------  Flex Classes -------------------------------------------------------- */

.gap-6 {
  gap: 6px;
}

.gap-10 {
  gap: 10px;
}

.gap-12 {
  gap: 12px;
}

.gap-14 {
  gap: 14px;
}

.gap-18 {
  gap: 18px;
}

.gap-20 {
  gap: 20px;
}

/* ------------------------------------------------------  Header -------------------------------------------------------------- */

.header {
  background-image: url("../images/png/Hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.common-btn {
  height: 48px;
  outline: none;
  color: #010101;
  border-radius: 4px;
  font-size: var(--fs-md);
  font-weight: var(--fw-700);
  line-height: var(--lh-150);
  font-family: var(--ff-sans);
  border: 1px solid var(--white-color);
  background: linear-gradient(107.02deg, #00ffe1 12.76%, #6e5df6 91.81%);
}

.sign-btn {
  width: 108px;
}

.nav::after {
  content: "";
  position: absolute;
  inset: 0;
  padding-bottom: 3px;
  background: linear-gradient(195.67deg, #00ffe1 83.47%, #6e5df6 102.11%);
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.hero-h {
  max-width: 958px;
}

.hero-h span {
  background: linear-gradient(107.02deg, #00ffe1 12.76%, #6e5df6 91.81%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-p {
  max-width: 665px;
}

.live-img {
  max-width: 628px;
}

.live-position {
  max-width: 103px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.live-img::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background: linear-gradient(195.67deg, #00ffe1 83.47%, #6e5df6 102.11%);
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.common-timer {
  width: 128px;
  height: 128px;
  border-radius: 8px;
  background: #ffffff01;
  backdrop-filter: blur(7px);
}

.time-card {
  background: #ffffff12;
  backdrop-filter: blur(15px);
  padding: 20px;
  max-width: 388px;
}

.time-card::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(195.67deg, #00ffe1 83.47%, #6e5df6 102.11%);
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.common-input {
  outline: none;
  border: none;
  border-radius: 4px;
}

.header-bottom-layer {
  bottom: 0;
  left: 0;
}

/* ------------------------------------------------------  SLIDER ------------------------------------------------------------- */

.common-slider {
  height: 126px;
  padding: 20px;
  padding-right: 72px;
  border-radius: 8px;
  background: #ffffff03;
}

.slider-p span {
  background: linear-gradient(171.68deg, #00ffe1 39.97%, #6e5df6 107.69%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slick-slide {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

/* ------------------------------------------------------  TRADE --------------------------------------------------------------- */

.sec2-h span {
  background: linear-gradient(95.15deg, #00ffe1 19.02%, #6e5df6 68.8%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.company-box {
  max-width: 519px;
}

.account-btn {
  max-width: 201px;
}

/* ------------------------------------------------------  UNDERSTANDING -------------------------------------------------------- */

.sec3-h span {
  background: linear-gradient(204.48deg, #00ffe1 56.67%, #6e5df6 85.15%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sec3-h,
.sec3-p {
  max-width: 942px;
}

.sec3-blue-card {
  padding: 25px 50px 157px 25px;
  border-radius: 15px;
  background: linear-gradient(82.41deg, #00ffe1 -12.77%, #6e5df6 93.08%);
}

.sec3-white-card {
  padding: 20px;
  max-width: 471px;
  border-radius: 15px;
  background-color: var(--white-color);
  border: 1px solid #0000001a;
  bottom: 81px;
}

.white-card-h {
  background: linear-gradient(180deg, #9b77e8 0%, #6854ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.forty-dollr-box {
  border-radius: 10px;
  box-shadow: 0px 0px 11.1px 0px #0000001a;
}

.profit-btn {
  width: 217px;
}

/* ------------------------------------------------------  TOP STOCK -------------------------------------------------------- */

.ai-stock {
  background: linear-gradient(171.68deg, #00ffe1 60.26%, #6e5df6 92.73%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top1::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(
    91.31deg,
    rgba(110, 93, 246, 0) 0.25%,
    #aeaeae 28.47%,
    #7e34dc 50.45%,
    #00ffe1 95.53%
  );
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.top1 {
  width: 40%;
}

.top2 {
  width: 40%;
}

.top2::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(
    91.31deg,
    #00ffe1 0.25%,
    #7e34dc 28.47%,
    #aeaeae 50.45%,
    rgba(110, 93, 246, 0) 95.53%
  );
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.stock-h span {
  background: linear-gradient(171.68deg, #00ffe1 39.97%, #6e5df6 107.69%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.read-btn {
  width: 135px;
}

/* ------------------------------------------------------  TIMELINE -------------------------------------------------------- */

.timeline-box {
  max-width: 891px;
}

.timeline {
  max-width: 716px;
  margin-top: 80px;
}

.timeline-h span {
  background: linear-gradient(171.68deg, #00ffe1 39.97%, #6e5df6 107.69%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.timeline-p {
  margin-top: 33px;
}

.content-box1 {
  max-width: 506px;
  padding: 35px;
  padding-left: 98px;
}

.content-box2 {
  max-width: 540px;
  margin-top: 57px;
}

.content-box3 {
  max-width: 506px;
  margin-top: 136px;
  margin-left: 170px;
}

.open-btn {
  max-width: 203px;
}

.timeline-position {
  top: 0;
  left: 50%;
  max-width: 556px;
  width: 100%;
  transform: translateX(-50%);
}

/* ------------------------------------------------------  STATICS -------------------------------------------------------- */

.sec6-h span {
  background: linear-gradient(171.68deg, #00ffe1 39.97%, #6e5df6 107.69%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.static-card {
  width: 270px;
}

.static-round {
  width: 270px;
  height: 270px;
  border-radius: 50%;
}

.static-round::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 8px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(171.68deg, #00ffe1 39.97%, #6e5df6 107.69%);
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

/* ------------------------------------------------------  ACCORDIAN ---------------------------------------------------- */

.accordian {
  max-width: 716px;
}

.accordian-p {
  max-width: 603px;
}

.accordian-h {
  max-width: 630px;
}

.accordian-box::after {
  content: "";
  position: absolute;
  inset: 0;
  padding-bottom: 0.5px;
  width: 100%;
  height: 100%;
  background: linear-gradient(171.68deg, #00ffe1 39.97%, #6e5df6 107.69%);
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.accordian-svg {
  transform: rotate(180deg);
}

.accordian-svg1 {
  transform: rotate(0deg);
}

/* ------------------------------------------------------  BENIFIT ------------------------------------------------------ */

.sec9-h {
  max-width: 733px;
}

.sec9-h span {
  background: linear-gradient(93.4deg, #00ffe1 38.61%, #6e5df6 92.96%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.benifit-content {
  max-width: 1040px;
}

.benifit-box1 {
  max-width: 461px;
}

.benifit-box2 {
  max-width: 500px;
}

.techno-card {
  background: #ffffff0a;
  border-radius: 12px;
  padding: 45px 12px;
}

.common-techno-svg {
  background: #ffffff0a;
  height: 64px;
  width: 64px;
  border-radius: 4px;
}

.techno-card::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(171.68deg, #00ffe1 39.97%, #6e5df6 107.69%);
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.benifit-p {
  max-width: 974px;
}

.benifit-p span {
  color: #449bee;
}

/* ------------------------------------------------------  FIRST STEP --------------------------------------------------- */
.first-h span {
  background: linear-gradient(93.4deg, #00ffe1 38.61%, #6e5df6 92.96%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.first-h,
.first-p {
  max-width: 572px;
}

.first-p {
  margin-top: 28px;
}

.sign-card {
  max-width: 558px;
  background: #01102040;
  border-radius: 8px;
}

.sign-card::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(171.68deg, #00ffe1 39.97%, #6e5df6 107.69%);
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.common-input-typ {
  border: 1px solid #ffffffb2;
  padding: 16px;
  outline: none;
  background-color: transparent;
}

.trading-btn {
  max-width: 510px;
}

.sec10-img {
  max-width: 518px;
}

/* ------------------------------------------------------ FOOTER -------------------------------------------------------- */

.footer-p {
  max-width: 261px;
}

.dis-p {
  max-width: 1119px;
  margin-bottom: 54px;
}

.sub-footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.sub-footer::after {
  content: "";
  position: absolute;
  inset: 0;
  padding-top: 1px;
  width: 100%;
  height: 100%;
  background: linear-gradient(107.02deg, #00ffe1 12.76%, #6e5df6 91.81%);
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
